<ul class="list-group list-group-light">
    <div class="pt-3 text-center bg-light">
        <h2 class="mb-3">{{name}}</h2>
    </div>
    {{#each products as |product|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="{{img}}" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
            <div class="ms-3">
                <p class="fw-bold mb-1">{{name}}</p>
                <p class="text-muted mb-0">Price: ${{price}}</p>
            </div>
        </div>
        <button id="{{id}}" type="button"
        data-mdb-toggle="modal"
        {{#if ../loggedIn}}
        data-mdb-target="#addToCartModal" 
        {{else}}
        data-mdb-target="#loginPromptModal" 
        {{/if}}
        class="{{#if ../loggedIn}}cart-btn{{/if}} btn btn-primary btn-rounded btn-sm">
        Add to Cart</button>
    </li>
    {{/each}}
</ul>